@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewBag.Session</p>
    <a asp-controller="auth" asp-action="logout" class="btn btn-danger">log out</a>
</div>
